$available-px-map: (
  0: 0,
  1: 2,
  2: 4,
  3: 8,
  4: 12,
  5: 16,
  6: 24,
  7: 32,
  8: 40,
  9: 48,
  10: 64,
  11: 80,
  12: 96,
  13: 112,
  14: 128,
  15: 144,
  16: 160,
);

$available-px-extended-map: (
  17: 180,
  18: 200,
  19: 240,
  20: 280,
  21: 320,
  22: 360,
  23: 400,
  24: 440,
  25: 480,
  26: 520,
  27: 560,
  28: 600,
  29: 640,
  30: 680,
  31: 720,
  32: 760,
  33: 800,
  34: 840,
  35: 880,
  36: 920,
  37: 960,
  38: 1000,
  39: 1040,
  40: 1080,
);

$variables-options-pixel-size: (
  0,
  2,
  4,
  8,
  12,
  16,
  20,
  24,
  28,
  32,
  36,
  40,
  48,
  52,
  56,
  60,
  64,
  68,
  72,
  76,
  80,
  84,
  88,
  92,
  96,
  112,
  128,
  144,
  160,
  180,
  200,
  240,
  280,
  320,
  360,
  400,
  440,
  480,
  520,
  560,
  600,
  640,
  680,
  720,
  760,
  800,
  840,
  880,
  920,
  960,
  1000,
  1040,
  1080
);

$available-px-full-map: map-merge(
  $available-px-map,
  $available-px-extended-map
);

$available-percentage-values-specific: (
  0,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  55,
  60,
  65,
  70,
  75,
  80,
  85,
  90,
  95,
  100
);

$available-percentage-values-full: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50);
