@import "./design-system/flex";
@import "./design-system/sizing";
@import "./design-system/spacing";
@import "./design-system/display";
@import "./design-system/cursor";
@import "./design-system/fonts";


.present-modal {
  --border-radius: 10px 10px 10px 10px;
  --height: auto !important;
  --width: auto !important;
  --background: #f3f3f6;
  --backdrop-opacity: 80%;
}